@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Bitter', serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Bitter', serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Bitter', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Bitter', serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Bitter', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Bitter', serif;
}
.mbr-author-desc {
  font-family: 'Bitter', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Bitter', serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Bitter', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #c0a375 !important;
}
.bg-warning {
  background-color: #3d8eb9 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #000000 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #c0a375 !important;
}
.text-warning {
  color: #3d8eb9 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #c0a375;
}
.alert-warning {
  background-color: #3d8eb9;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #000000;
}
.btn-social:hover {
  background: #000000;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #000000;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #000000;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #000000;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #000000;
}
.lead a,
.lead a:hover {
  color: #000000;
}
.lead blockquote {
  border-color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #98c5dd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000000;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-0 .link {
  font-size: 1.2rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #000000;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#header5-2 .mbr-section-title {
  color: #000;
}
#header5-2 .mbr-section-lead {
  color: #000000;
}
#header5-2 .mbr-section-title SPAN {
  color: #ffffff;
  text-align: center;
}

#menu-7 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-7 .navbar-caption {
  color: #ffffff;
}
#menu-7 .navbar-toggler {
  color: #ffffff;
}
#menu-7 .link,
#menu-7 .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-7 .link {
  font-size: 1.2rem;
}
#menu-7 .dropdown-item,
#menu-7 .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-7 .link:hover,
#menu-7 .dropdown-item:hover,
#menu-7 .link:focus,
#menu-7 .dropdown-item:focus {
  color: #000000;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-menu {
  background: #000000;
}
#menu-7 .nav-dropdown-sm .link:focus,
#menu-7 .nav-dropdown-sm .link:hover,
#menu-7 .nav-dropdown-sm .dropdown-item:focus,
#menu-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-7 .navbar,
#menu-7 .nav-dropdown-sm,
#menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-7 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-7 .bg-color.transparent.opened .link:hover,
#menu-7 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-7 .link[aria-expanded="true"],
#menu-7 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-7 .close-icon::before,
#menu-7 .close-icon::after {
  background-color: #ffffff;
}

#menu-a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-a .navbar-caption {
  color: #ffffff;
}
#menu-a .navbar-toggler {
  color: #ffffff;
}
#menu-a .link,
#menu-a .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-a .link {
  font-size: 1.2rem;
}
#menu-a .dropdown-item,
#menu-a .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-a .link:hover,
#menu-a .dropdown-item:hover,
#menu-a .link:focus,
#menu-a .dropdown-item:focus {
  color: #000000;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-menu {
  background: #000000;
}
#menu-a .nav-dropdown-sm .link:focus,
#menu-a .nav-dropdown-sm .link:hover,
#menu-a .nav-dropdown-sm .dropdown-item:focus,
#menu-a .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-a .navbar,
#menu-a .nav-dropdown-sm,
#menu-a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-a .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-a .bg-color.transparent.opened .link:hover,
#menu-a .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-a .close-icon::before,
#menu-a .close-icon::after {
  background-color: #ffffff;
}

#menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-c .navbar-caption {
  color: #ffffff;
}
#menu-c .navbar-toggler {
  color: #ffffff;
}
#menu-c .link,
#menu-c .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#menu-c .link {
  font-size: 1.2rem;
}
#menu-c .dropdown-item,
#menu-c .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-c .link:hover,
#menu-c .dropdown-item:hover,
#menu-c .link:focus,
#menu-c .dropdown-item:focus {
  color: #000000;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-menu {
  background: #000000;
}
#menu-c .nav-dropdown-sm .link:focus,
#menu-c .nav-dropdown-sm .link:hover,
#menu-c .nav-dropdown-sm .dropdown-item:focus,
#menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-c .navbar,
#menu-c .nav-dropdown-sm,
#menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-c .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-c .bg-color.transparent.opened .link:hover,
#menu-c .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-c .close-icon::before,
#menu-c .close-icon::after {
  background-color: #ffffff;
}
